* {
  box-sizing: border-box;
}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 5px;
}
.main-container .home-header {
  min-height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}
.main-container .home-header .welcome {
  color: #027bff;
}
.main-container .home-header .real-time-display {
  font-size: 0.9rem;
  font-weight: 200;
}
.main-container .chart-description {
  display: flex;
  padding: 0 2.5%;
  color: #ffffff;
  justify-content: space-around;
  align-items: center;
  min-height: 20%;
}
.main-container .chart-description .item {
  background-color: #393939;
  border-radius: 10px;
  width: 18%;
  min-width: 133px;
  max-width: 300px;
  height: 100%;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
}
.main-container .chart {
  width: 100%;
  min-height: 66%;
}
.main-container .chart canvas {
  width: 100% !important;
  height: 100% !important;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
#app {
  height: 100%;
  width: 100%;
  background-color: #f10f80;
}
.projectSec1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2%;
  justify-content: space-between;
}
.projectH2 {
  color: #027bff;
}
#searchProject {
  width: 70%;
  height: 6vh;
  margin-right: 3%;
  border-radius: 10px;
}
input::placeholder {
  font-size: 16px;
}
#addProject {
  width: 14%;
  height: 6vh;
  margin-right: 3%;
  background-color: #027bff;
  border-color: #027bff;
  color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
}
.list {
  padding-left: 1%;
  font-size: 16px;
  text-align: center;
  appearance: none;
  width: 14%;
  height: 6vh;
  border-radius: 10px;
  margin-right: 3%;
  cursor: pointer;
}
.projectSec2 h3 {
  color: #027bff;
}
.projectSec2 {
  padding-left: 1%;
  width: 27%;
  height: 30vh;
  margin: 1%;
  background-color: #393939;
  border-radius: 10px;
  border: 1px solid #989494;
}
.projectSec2 .dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6%;
  font-size: 0.8rem;
}
.maindiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.chat-contianer {
  width: 100%;
  height: 100%;
  display: flex;
}
.chat-contianer .contacts-container {
  width: 25%;
  padding: 0 1%;
}
.chat-contianer .contacts-container h1 {
  margin-top: 0;
}
.chat-contianer .contacts-container #contacts-list {
  list-style: none;
  padding: 0 4%;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 67vh;
  /*  .selected {
        background-color: @blue-color;
      } */
}
.chat-contianer .contacts-container #contacts-list .contact-item {
  margin-bottom: 5px;
  padding: 13px 0;
  padding-left: 5%;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #444444;
  cursor: pointer;
}
.chat-contianer .chat-area {
  background-color: #2a2a2a;
  border: 1px #9b9b9b67 solid;
  width: 75%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  padding: 2%;
}
.chat-contianer .chat-area h2 {
  font-size: 1rem;
  font-weight: 200;
}
.chat-contianer .chat-area #messages-list {
  list-style: none;
  padding: 0 4%;
  overflow: scroll;
  scrollbar-width: none;
  position: absolute;
  bottom: 90px;
  width: 100%;
  left: 1%;
  max-height: 55vh;
}
.chat-contianer .chat-area #messages-list .message {
  width: 100%;
  margin: 7px auto;
  height: 50px;
}
.chat-contianer .chat-area #messages-list .message .message-content {
  height: 100%;
  width: fit-content;
  background-color: #4caf50;
  padding: 13px 5%;
  font-size: 1rem;
  border-radius: 5px;
  margin: auto 1px;
}
.chat-contianer .chat-area #messages-list .message .myMessage {
  float: right;
  padding: 13px 2%;
  background-color: #027bff;
}
.chat-contianer .chat-area .message-input-contianer {
  position: absolute;
  bottom: 0px;
  padding: 1%;
  width: 100%;
  left: 1%;
}
.chat-contianer .chat-area .message-input-contianer #message-input {
  padding: 1.5% 1%;
  background-color: #444444;
  color: white;
  border: 1px #9b9b9bb2 solid;
  border-radius: 5px;
  width: 90%;
  font-size: 0.9rem;
}
.chat-contianer .chat-area .message-input-contianer .message-input::placeholder {
  color: #9b9b9bb2;
}
.chat-contianer .chat-area .message-input-contianer .send-btn {
  margin-left: 10px;
  padding: 1.4%;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 5fr;
  grid-template-areas: "header header" "sidebar content";
  background-color: #1e1e1e;
  color: #ffffff;
}
.dashboard .header {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  gap: 2%;
  font-size: 1rem;
  border-bottom: 2px #9b9b9bb2 solid;
}
.dashboard .header .log-out-btn {
  background-color: red;
  color: #ffffff;
  border-radius: 10px;
  padding: 0 2px;
  border: none;
  width: 92px;
  height: 45px;
  font-size: 1.2rem;
}
@media (max-width: 400px) {
  .dashboard .header .log-out-btn {
    width: 30%;
  }
}
.dashboard .sidebar {
  grid-area: sidebar;
  background-color: #2a2a2a;
  border-right: 1px #9b9b9bb2 solid;
}
.dashboard .sidebar .sidebar-list {
  list-style: none;
  padding: 0 4%;
}
.dashboard .sidebar .sidebar-list .sidebar-item {
  margin-bottom: 15px;
  padding: 13px 0;
  padding-left: 5%;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #444444;
  cursor: pointer;
}
.dashboard .sidebar .sidebar-list .selected {
  background-color: #027bff;
}
.dashboard #content {
  grid-area: content;
  padding: 1%;
}
